* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.img-main {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(./fondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 300px 0
}

.titulo-main p {
    font-size: 70px;
    color: #ffffff;
    font-weight: 1000;
    padding: 40px 100px;

}

.titulo-main a {
    font-size: 25px;
    text-decoration: none;
    margin: 0 100px;
    padding: 10px;
    color: #ffffff;
    border: 3px solid #ffffff;
}

.main-horario {
    font-size: 20px;
    background-color: #8d4925;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.col.col-md-6.col-two {
    display: flex;
}

.carousel-inner {
    flex-basis: 48em;
}


i.fa-solid.fa-chevron-right,
i.fa-solid.fa-chevron-left {
    color: white;
    font-size: 2.6rem;
}


.Card1 {
    display: flex;
    flex-direction: column;
    width: 48em;
    padding: 5em;
    justify-content: center;
    /* align-items: center; */
}

.Card1 h2 {
    font-size: 4em;
    margin-bottom: 25px;
}

.Card1 p {
    font-size: 22px ;
}

div#carouselExampleAutoplaying2 {
    display: flex;
    flex-direction: row-reverse;
}

.w-1000 {
    height: 36rem;
    width: 48rem;
    object-fit: cover;
}

/*pie de pagina */
.testimonios {
    background-color: black;
    gap: 1rem;
    color: white;
}
img.img-testimonio {
    width: 4rem;
}

h2.testimonios__title {
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.testimonios__title {
    margin-left: .9rem;
    margin-top: 0rem;
    padding-top: 15px;
}
.testimonio {
    border: 1px solid;
    flex-basis: 33%;
    margin: 1rem;
    padding: 0.9rem;
}
.user {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.testimonio strong {
    font-size: 1.2rem;
}
.testimonio blockquote {
    margin-left: 0;
    margin-right: 0;
}

i.fa-solid.fa-star,
i.fa-regular.fa-star,
i.fa-solid.fa-star-half-stroke {
    color: yellow;
    margin-top: .8rem;
}
.nav {
    display: flex;
    justify-content: space-between;
    
}
h4 {
    margin-top: 1rem;
    margin-left: 6rem;
}
p {
    margin-left: 2rem;
}

.tituloredes {
    margin-right: 3px;
}
.contacto {
    font-size: 1.1rem;
    margin: 1.2rem;
    margin-left: 26.2rem;
    margin-top: -15.1rem;
}
ul.menu-social {
    list-style: none;
    padding: 0;
}
.menu-social {
    display: flex;
    align-items: end;
    flex-direction: column;
}
h3.tituloredes {
    font-size: 1.2rem;
    margin-right: 1.2rem;
    font-weight: 500;
    font-size: x-large;
    margin-right: 12.3rem;
    margin-top: -17.6rem;
}

li.menu-social-item {
    gap: 4rem;
    display: flex;
    margin-right: 8.1rem;
    margin-top: 4rem;
}

.menu-social-icons {
    gap: 2rem;
}
.fa-brands {
    font-size: 3rem;
} 
.list-testimonios {
    display: flex;
    justify-content: space-between;
    
}
p.titulo {
    font-size: x-large;
    font-weight: 500;
}






































@media