/* body {
    background-color: #fbdcb0;
} */
p.titilo-3 {
    font-size: 120px;
    display:flex ;
    padding: 5rem ;
    color: #d8cfbf9a;
}
.img-main3 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(./historia.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
}

h2.title-history{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 1.5rem;
}

iframe.video_historia {
    width: 42vw;
    height: 25vw;
}

.content { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5rem 0 0;
}

p.content-history {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1em;
    width: 80vw;
    margin: 0 auto;
}

.container-video {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.photos {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.photo-history {
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

@media (width <= 768px)
{
    .content { 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .photos {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
}

@media (width <= 576px)
{
    h2.title-history {
        font-size: 2rem;
        text-align: center;
    }


    p.content-history {
        padding: 0;
        margin: 0 auto;
    }

    p.titilo-3 {
        font-size: 48px;
        padding: .7em;
    }

    iframe {
        width: 50vw;
    }

    .content { 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .photos {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }

    iframe.video_historia {
        width: 70vw;
        height: 43vw;
    }


}