* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* profe */


.img-main {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(./fondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 300px 0
}

.titulo-main p {
    font-size: 70px;
    color: #ffffff;
    font-weight: 1000;
    padding: 40px 100px;

}

.titulo-main a {
    font-size: 25px;
    text-decoration: none;
    margin: 0 100px;
    padding: 10px;
    color: #ffffff;
    border: 3px solid #ffffff;
}


.main-horario {
    font-size: 20px;
    background-color: #8d4925;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.col.col-md-6.col-two {
    display: flex;
}

.carousel-inner {
    flex-basis: 48em;
}


i.fa-solid.fa-chevron-right,
i.fa-solid.fa-chevron-left {
    color: white;
    font-size: 2.6rem;
}


.Card1 {
    display: flex;
    flex-direction: column;
    width: 48em;
    padding: 5em;
    justify-content: center;
    /* align-items: center; */
}

.Card1 h2 {
    font-size: 4em;
    margin-bottom: 25px;
}

.Card1 p {
    font-size: 22px ;
}

div#carouselExampleAutoplaying2 {
    display: flex;
    flex-direction: row-reverse;
}

.w-1000 {
    height: 36rem;
    width: 48rem;
    object-fit: cover;
}


/* Menu principal */
.content-header {
  display: flex;
  align-items: center; 
}

.logo {
  flex-basis: 20%;
}

img.logo {
  width: 5.6rem;
}

label.menu-icon {
  text-align: right;
  font-size: 2rem;
}

.navmenu {
  flex-basis: 80%;
}
/* Oculta la lista del menú por defecto */
.menu-list {
  display: none; 
  list-style: none;
  padding: 0;
  position: absolute;
  height: auto;
  width: 100vw;
  /* border: 1px dotted orange; */
  top: 90px;
  left: 0;
}

.menu-list .menu-item {
  background-color: beige;
}

.menu-list .menu-item a {
  text-decoration: none;
  display: contents;
  padding: .3rem .6rem;
}


/* Muestra la lista del menú cuando el checkbox está marcado */
.menu-toggle:checked ~ .menu-list {
  display: block;
}

/* Oculta el input asociado al label que despliega el icono del menu hamburguesa */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Estilos generales del menú */
.menu {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  overflow: hidden;
}

/* .sub-menu .menu-item {
    border: 1px dotted blue;
    box-sizing: border-box;
}
.sub-menu .menu-item .sub-menu {
   background-color: orange;
} */

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  /* Disposición vertical */
  .menu {
    flex-direction: column;
  }

  /* Estilos para el botón de menú */
  .menu-icon {
    display: block;
  }

  .menu-list {
    display: none;
    overflow: auto;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .menu-toggle:checked ~ .menu-list {
    display: flex;
  }

  /* Estilos para submenús */
  .sub-menu {
    display: none;
  }

  .menu-item:hover .sub-menu {
    display: flex;
    flex-direction: column;
    position: static;
  }
}

/* Estilos para dispositivos de escritorio */
@media screen and (min-width: 768px) {
  .content-header {
    align-items: baseline; 
  }
  /* Disposición horizontal */
  .menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* Estilos para el botón de menú */
  .menu-toggle {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  /* .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  } */
  .menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px dotted blue;
    list-style: none;
    gap: 3.8rem;
    padding: 0;
    margin: 0 auto;
    max-width: 94%;
    width: 100%;
    position: static;
    top: 0;
    left: 0;
}
/* .menu-list {
  display: none;
  list-style: none;
  padding: 0;
  position: relative;
  height: auto;
  width: 100vw;
  
  top: 0;
  left: 0;
} */

  /* Estilos para submenús */
  .sub-menu {
    position: absolute;
    z-index: 1;
    display: none;
    padding: 0;
    background-color: white;
    list-style: none;
  
  }

  .sub-menu .menu-item a {
    text-decoration: none;
    padding: .3rem 1rem;
    display: block;
}

  .menu-item:hover .sub-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width:auto ;
  }
}
