.img-main3 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(./ecoturismo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 130px 0;
}

/* body {
    background-color: #fbdcb0;
} */

p.titilo-2 {
    font-size: 8em;
    display:flex ;
    padding: 5rem ;
    color: #aca5989a;
}

h2.tittle-eco-2 {
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
}

.video-ecoturismo {
    width: 3em;
}

.video_eco {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

iframe.video_esoturismo {
    width: 42vw;
    height: 25vw;
}

.ecophoto-container {
    padding-bottom: 1rem;
}

p.content-eco-p {
    margin: 1em;
}

.Ecoturismo-container {
    padding: 2rem;
}

.container-ecophoto{
    width: 18.5vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container-photos {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


@media ( width<=768px )
{
    p.titilo-2 {
        font-size: 5em;
        padding: 0em;
    }
}

@media ( width<=576px )
{
    p.titilo-2 {
        font-size: 3em;
        padding: 0em;
        justify-content: center;
    }

    h2.tittle-eco-2 {
        margin-bottom:.5em;
        text-align: center;
    }

    iframe.video_esoturismo {
        width: 70vw;
        height: 43vw;
    }


}




