.img-main {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(./fondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 300px 0
}

.titulo-main p {
    font-size: 70px;
    color: #ffffff;
    font-weight: 1000;
    padding: 0 50px;

}

.titulo-main a {
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    margin: 0 50px;
    padding: 5px;
    color: black;




}
/* pie de pagina */
.testimonios {
    background-color: black;
    gap: 1rem;
    color: white;
}
img.img-testimonio {
    width: 4rem;
}
h2 {
    margin-left: .9rem;
    margin-top: 0rem;
    padding-top: 15px;
}
.testimonio {
    border: 1px solid;
    flex-basis: 33%;
    margin: 1rem;
    padding: 0.9rem;
}
.user {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.testimonio strong {
    font-size: 1.2rem;
}
.testimonio blockquote {
    margin-left: 0;
    margin-right: 0;
}

i.fa-solid.fa-star,
i.fa-regular.fa-star,
i.fa-solid.fa-star-half-stroke {
    color: yellow;
    margin-top: .8rem;
}
.nav {
    display: flex;
    justify-content: space-between;
    
}

.tituloredes {
    margin-right: 3px;
}
.contacto {
    font-size: 1.1rem;
    margin: 1.2rem;
}
ul.menu-social {
    list-style: none;
    padding: 0;
}
.menu-social {
    display: flex;
    align-items: end;
    flex-direction: column;
}
h3.tituloredes {
    font-size: 1.2rem;
    margin-right: 1.2rem;
}

li.menu-social-item {
    gap: 2rem;
    display: flex;
    margin-right: 1rem;
}

.menu-social-icons {
    gap: 2rem;
}
.fa-brands {
    font-size: 1.5rem;
}
.list-testimonios {
    display: flex;
    justify-content: space-between;
    
}
